<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <%= yield_content :meta_information %>
  <meta property="og:type" content="website"/>
  <meta property="og:site_name" content="MadTree Brewing"/>
  <meta name="author" content="MadTree Brewing" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>MadTree Brewing</title>

  <%= stylesheet_link_tag "screen" %>
  <link rel="shortcut icon" href="/faviconb.ico" />
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx56QzUnGROPSnXA_KeTgaTBZ5-98uA_M">
  </script>
  <!--
  <script type="text/javascript" src="//use.typekit.net/sfl3ims.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script> -->
  <script src="https://use.typekit.net/cbg6uvs.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

</head>
<body class="<%= page_classes %> <%= yield_content :page_classes %>">


  <div class="main-content">
    <%= yield %>
  </div><!-- /main-content -->

  <script type="text/javascript">
  // var _gaq = _gaq || [];
  // _gaq.push(['_setAccount', 'UA-23396657-1']);
  // _gaq.push(['_setDomainName', 'madtreebrewing.com']);
  // _gaq.push(['_setAllowLinker', true]);
  // _gaq.push(['_trackPageview']);
  //
  // (function() {
  //   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  //   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  //   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  // })();
  </script>
</body>
</html>
