---
description: ""
sub_nav: true
---
<% content_for :meta_information do %>
  <meta property="og:title" content='MadTree Brewing' />
  <meta property="og:image" content='http://madtreebrewing.com/images/cans.png' />
  <meta property="og:url" content='http://madtreebrewing.com/'/>
  <meta property="og:description" content='Bringing canned craft beer to Cincinnati.' />
  <meta name="description" content='Bringing canned craft beer to Cincinnati.' />
<% end %>

<section class="page-marketing">
  <% 3.times do %>
  <div class="marketing-pane">
    <h3>PSA Now in Kegs</h3>
    <p>Vestibulum a augue cursus, finibus Quisque fermentum varius rutrum sed.</p>
  </div>
  <% end %>
</section> <!-- /page-marketing -->

<section class="core-beers">
  <h3>Our Front Runners</h3>

  <% 7.times do %>
  <div class="beer-preview">
    <%= link_to image_tag("http://placehold.it/180x220"), "#" %>
    <h5>Happy Amber</h5>
  </div> <!-- beer-preview -->
  <% end %>
</section> <!--/core-beers -->

<section class="secondary-beers">
  <h3>What's in Season</h3>

  <% 4.times do %>
  <div class="beer-preview">
    <%= link_to image_tag("http://placehold.it/180x220"), "#" %>
    <h5>Happy Amber</h5>
  </div> <!-- beer-preview -->
  <% end %>

  <%= link_to "See All Seasonal", "#", class: "btn btn-primary" %>
</section> <!-- seconadry-beers -->

<section class="browse-beers">
  <h3>Browse Our Beer</h3>

  <div class="beer-category">
    <h4>Limited</h4>
    <% 8.times do %>
    <div class="beer-preview">
      <%= link_to image_tag("http://placehold.it/110x150"), "#" %>
      <h5>Happy Amber</h5>
    </div>
    <% end %>
    <%= link_to "See All Limited", "#", class: "btn btn-primary" %>
  </div>

  <div class="beer-category">
    <h4>Series</h4>
    <% 8.times do %>
    <div class="beer-preview">
      <%= link_to image_tag("http://placehold.it/110x150"), "#" %>
      <h5>Happy Amber</h5>
    </div>
    <% end %>
    <%= link_to "See All Limited", "#", class: "btn btn-primary" %>
  </div>
</section>
