---
description: ""
sub_nav: true
---
<% content_for :page_classes do %>beer-index<% end %>

<section class="page-marketing">
  <% 3.times do %>
  <a href="#" class="marketing-pane" style="background-image: url('http://unsplash.it/800x200');">
    <div class="marketing-message">
      <h3>PSA Now in Kegs</h3>
      <p>Vestibulum a augue cursus, finibus Quisque fermentum varius rutrum sed.</p>
    </div>
  </a>
  <% end %>
</section> <!-- /page-marketing -->

<div class="container">
  <section class="core-beers">
    <h3 class="with-border">Our Front Runners</h3>

    <div class="beers">
      <% 7.times do %>
        <div class="beer-preview">
          <%= link_to image_tag("http://placehold.it/180x220"), "/beer/beer.html" %>
          <h5><%= link_to "Happy Amber", "/beer/beer.html" %></h5>
        </div> <!-- beer-preview -->
      <% end %>
    </div>
  </section> <!--/core-beers -->

  <section class="secondary-beers">
    <h3 class="with-border">What's in Season</h3>

    <div class="beers">
      <% 4.times do %>
        <div class="beer-preview">
          <%= link_to image_tag("http://placehold.it/180x220"), "/beer/beer.html" %>
          <h5><%= link_to "Happy Amber", "/beer/beer.html" %></h5>
        </div> <!-- beer-preview -->
      <% end %>
    </div>

    <%= link_to "See All Seasonal", "/beer/category.html", class: "btn btn-primary" %>
  </section> <!-- seconadry-beers -->

  <section class="browse-beers">
    <h3 class="with-border">Browse Our Beer</h3>

    <div class="beer-category">
      <h4>Limited</h4>
      <div class="beers">
        <% 8.times do %>
          <div class="beer-preview">
            <%= link_to image_tag("http://placehold.it/110x150"), "/beer/beer.html" %>
            <h5><%= link_to "Happy Amber", "/beer/beer.html" %></h5>
          </div>
        <% end %>
      </div>
      <%= link_to "See All Limited", "/beer/category.html", class: "btn btn-primary" %>
    </div> <!-- /beer-category -->

    <div class="beer-category">
      <h4>Series</h4>
      <div class="beers">
        <% 8.times do %>
          <div class="beer-preview">
            <%= link_to image_tag("http://placehold.it/110x150"), "/beer/beer.html" %>
            <h5><%= link_to "Happy Amber", "/beer/beer.html" %></h5>
          </div>
        <% end %>
      </div>
      <%= link_to "See All Series", "/beer/category.html", class: "btn btn-primary" %>
    </div> <!-- /beer-category -->
    <div class="beer-category">
      <h4>Retired</h4>
      <%= link_to "See All Retired", "/beer/category.html", class: "btn btn-primary" %>
    </div> <!-- /beer-category -->
  </section> <!-- /browse-beers -->

</section> <!-- /browse-beers -->
</div>
