---
description: ""
sub_nav: true
---
<% content_for :meta_information do %>
  <meta property="og:title" content='MadTree Brewing' />
  <meta property="og:image" content='http://madtreebrewing.com/images/cans.png' />
  <meta property="og:url" content='http://madtreebrewing.com/'/>
  <meta property="og:description" content='Bringing canned craft beer to Cincinnati.' />
  <meta name="description" content='Bringing canned craft beer to Cincinnati.' />
<% end %>

<section class="page-hero">
  <%= image_tag "http://placehold.it/1600x300" %>
</section> <!-- /page-hero -->

<section class="page-intro">
  <header class="section-header">
    <h2>Charity Partners</h2>
    <p>In an effort to make more of an impact in our community, MadTree is excited to partner with the following non-profits. These organizations collectively represent our philanthropic interests. This is a diverse group doing standout work. Our investment in them is a commitment to becoming an integral part of the community; a goal at the heart of our mission.</p>
    <p>We strive to be a company not only respected for producing quality craft beer that competes at a national level but also a top employer and pillar of the community. We feel that our charitable involvements, giving back to our community, are part of the recipe for success. We're more than a brewery. We're MadTree.</p>
  </header>
</section> <!-- page-intro -->

<section class="core-partners">
  <% 6.times do %>
  <div class="partner">
    <div class="partner-image">
      <%= link_to image_tag("http://placehold.it/225x225"), "#" %>
    </div>
    <div class="partner-text">
      <h3>Partner Name</h3>
      <p>Curabitur ornare lacus vitae purus interdum congue. In eleifend massa ut lacus malesuada, nec sollicitudin nisi lacinia. Fusce erat quam, euismod nec lobortis molestie, sodales vel augue. Nullam bibendum dapibus lectus. Pellentesque interdum, dui et eleifend egestas, libero nisi ultrices felis, nec ullamcorper justo diam molestie lectus. Nam vitae nisl ut quam dignissim facilisis id sed eros.</p>
      <%= link_to "More about Partner Name", "#", class: "btn btn-primary btn-small" %>
    </div>
  </div> <!-- /partner -->
  <% end %>
</section> <!-- /core-partners -->

<section class="monthly-partners">
  <header class="section-header">
    <h3>Monthly Partners</h3>
  </header>

  <div class="current-month-partner">
    <div class="partner">
      <div class="partner-image">
        <%= link_to image_tag("http://placehold.it/320x320"), "#" %>
      </div>
      <div class="partner-text">
        <h6>July's Partner</h6>
        <h3>Partner Name</h3>
        <p>Curabitur ornare lacus vitae purus interdum congue. In eleifend massa ut lacus malesuada, nec sollicitudin nisi lacinia. Fusce erat quam, euismod nec lobortis molestie, sodales vel augue. Nullam bibendum dapibus lectus. Pellentesque interdum, dui et eleifend egestas, libero nisi ultrices felis, nec ullamcorper justo diam molestie lectus. Nam vitae nisl ut quam dignissim facilisis id sed eros.</p>
        <%= link_to "More about Partner Name", "#", class: "btn btn-primary btn-small" %>
      </div>
    </div> <!-- /partner -->
  </div>

  <div class="on-deck-partner">
    <h4>On Deck</h4>
    <div class="partner">
      <div class="partner-image">
        <%= link_to image_tag("http://placehold.it/320x320"), "#" %>
      </div>
      <div class="partner-text">
        <h3>Partner Name</h3>
      </div>
    </div> <!-- /partner -->
  </div> <!-- /on-deck-partner -->

  <div class="previous-partners">
    <h4>Previous Partners</h4>
    <%= 10.times do %>
    <div class="partner">
      <div class="partner-image">
        <%= link_to image_tag("http://placehold.it/320x320"), "#" %>
      </div>
      <div class="partner-text">
        <h3>Partner Name</h3>
      </div>
    </div> <!-- /partner -->
    <% end %>
  </div> <!-- /previous-partners -->
</section> <!-- /monthly-partners -->
